In [2]:
#preprocess data
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_csv(r'C:\Users\USER\Documents\Data Science\PythonCode\Skripsi\Restaurant_Reviews.tsv', sep='\t')

In [3]:
df.head(10)

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1
5     Now I am getting angry and I want my damn pho.      0
6              Honeslty it didn't taste THAT fresh.)      0
7  The potatoes were like rubber and you could te...      0
8                          The fries were great too.      1
9                                     A great touch.      1

In [4]:
df.tail()

                                                Review  Liked
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  1000 non-null   object
 1   Liked   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

#Transform Feature
x=df.Review
#Transform Target
y=df.Liked

vectorizer=TfidfVectorizer()
x_tfidf= vectorizer.fit_transform(x)

X_train,X_test,Y_train,Y_test=train_test_split(x_tfidf,y,test_size=0.33,random_state=42)

In [7]:
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

xgb=XGBClassifier()
xgb.fit(X_train,Y_train)

y_pred=xgb.predict(X_test)

print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.79      0.78       173
           1       0.76      0.74      0.75       157

    accuracy                           0.76       330
   macro avg       0.76      0.76      0.76       330
weighted avg       0.76      0.76      0.76       330

In [17]:
print([X_test,Y_test,y_pred])

[<330x2035 sparse matrix of type '<class 'numpy.float64'>'
	with 3115 stored elements in Compressed Sparse Row format>, 521    1
737    1
740    1
660    1
411    1
      ..
506    0
342    1
485    1
711    0
133    0
Name: Liked, Length: 330, dtype: int64, array([1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1])]

In the hard way classifier

In [9]:
def case_folding(text):
    folding= [x.lower() for x in text]

    return folding

In [10]:
import re

def decontracted(text):
    result=[re.sub(r"won't","will not",ul) for ul in text]
    result=[re.sub(r"can't","cannot",ul) for ul in result]
    result=[re.sub(r"n't"," not",ul) for ul in result]
    result=[re.sub(r"i'm","i am",ul) for ul in result]
    result=[re.sub(r"it's","it is",ul) for ul in result]
    result=[re.sub(r"'s","is",ul) for ul in result]

    result = [re.sub(r"[^A-Za-z@]", "", ul) for ul in result]
    #remove websites and email address
    result = [re.sub(r"\S+com", "", ul) for ul in result]
    result = [re.sub(r"\S+@\S+", "", ul) for ul in result]
    #remove empty spaces 
    result = [ul for ul in result if ul!='']

In [11]:
# def termWeights(token, alltokens):
#     termfreq = [[tk.counts(alltok) for tk in token] for alltok in alltokens]
#     docfreq = [sum]

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split